# API Configuration
# For production, replace with your actual API URL
NEXT_PUBLIC_API_URL=https://payflow-api.vercel.app/api/v1

# Stellar Configuration
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_USDC_ISSUER=GBBD47IFQFJLVQAMZEDS2N7TU7VA7K7XXQDGFO2UPHTM4JUW7RZMOBKE
NEXT_PUBLIC_STELLAR_USDC_CODE=USDC

# Contract Configuration
NEXT_PUBLIC_CONTRACT_ID=CBOPC7Z64MXDAQKHFM2TQYVCPG7BJY7VX6FQDWQENTOFJBL3AJEBKO7C
